body {
  font-family: Arial;
  text-align: center;
  background: linear-gradient(135deg, #000428, #004e92);
  color: white;
  margin: 0;
}

.card {
  background: white;
  color: black;
  width: 360px;
  margin: 60px auto;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
}

input, select, button {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

button {
  background: #004e92;
  color: white;
  border: none;
  cursor: pointer;
}
