body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    color: white;
}

/* LOGIN */
#loginPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: rgba(255,255,255,0.1);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    text-align: center;
}

/* CARTOON */
#cartoon {
    display: none;
    text-align: center;
    margin-top: 50px;
    animation: fadeIn 2s;
}

#cartoon img {
    width: 200px;
    animation: float 3s infinite;
}

/* CHAT */
#app {
    display: none;
    text-align: center;
    margin-top: 20px;
}

#chatBox {
    height: 300px;
    overflow: auto;
    background: rgba(255,255,255,0.1);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

/* ANIMATION */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
